@model Convention.Client.Models.TalkModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Talk @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LengthHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LengthHours)
        </dd>
    </dl>
</div>
<br />
@Html.ActionLink("Subscribe to Talk", "Register", "Talks", new { id = Model.Id })
<br />
<br />
<h4>Attendees</h4>
<table class="table" border-collapse="collapse;">
    @foreach (var item in Model.Attendees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
        </tr>
    }
</table>
<br />
<div>
    @Html.ActionLink("Back to Conventions", "Index", "Conventions", new { /* id = Model.PrimaryKey */ }) |
</div>
